@{
    ViewBag.Title = "Contact";
}
<div class="container">
    
    <h3 style="color:#E0162B">Connect Us</h3>

    <address>
        <strong>Information:</strong> <a href="info@letuscode.io">info@ourco.de</a><br />
        <strong>Facebook:</strong> <a href="https://www.facebook.com/letuscodeio" target="_blank">https://www.facebook.com/letuscodeio</a><br />
        <strong>Tweeter:</strong> <a href="https://twitter.com/OurCo_de" target="_blank">https://twitter.com/Letuscode</a><br />
    </address>
</div>