@{
    ViewBag.Title = "About";
}
<h2 style="color:#E0162B">@ViewBag.Title.</h2>


<div class="row">
    <div class="col-md-6">
        <h2 style="color:#E0162B"><a href="~/">OurCode</a></h2>
        <p>
             <img width="150" height="125" src="~/Content/images/OurCo.png" align="left" />

            Our Code is an interactive coding site. Students will be able to create new features of Let Us Code. We take different selected outlines from the "Create" section, then will provide different "features" that everyone can use! Students, teachers and parents will be taught and asked to participate with the different parts of the application process.
        </p>
    </div>


    <div class="col-md-6">
        <h2 style="color:#E0162B">
            The goals of OurCo.de are to:
        </h2>
        <ol>
            <li>Teach 5th through 12th Graders how to code</li>
            <li>Provide fun interactive learning environment for coding workshops</li>
            <li>Create new Designs and Provide new features for the site</li>
            <li>Give the students a place to show their friends what they did!</li>
        </ol>
    </div>
</div>


